.contenedor{
   /*  display: flex;
    margin: .5rem auto;
    padding: 0;
    height: 3em; */
    
    padding-top: 1%;
    max-width: 100%;
    background-color: #4a254a;
    opacity: .8;
   /*  opacity: .8;
    border-radius: 2rem;
    align-items: center;
    font-weight: 700;
    border: 1px solid #271127; */
}

.Btn2{
    
    height: 2em;
    width: 5em;
    text-align:center;
    background-color: rgb(100, 4, 141);
    color: #fff;
    border-radius: .5rem;
} 

.Btn1{
    
    margin: 0 4rem 0 4rem;
    height: 2em;
    background-color: rgb(100, 4, 141);
    list-style: none;
    color: #fff;
    border-radius: .5rem;
}
.Btn4{
    margin: 0 4rem 0 4rem;
    height: 2em;
    background-color: rgb(100, 4, 141);
    color: #fff;
    border-radius: .5rem;
    
}
.Btn3{
    height: 2em;
    background-color: rgb(100, 4, 141);
    color: #fff;
    border-radius: .5rem;
}
.contenedor button:hover {
    cursor: pointer;
    transform: scale(1.05);
}   
