.contenedor{
    display: inline-flex;
    margin: 1rem;
}
    
.contenedor button {
    background-color: rgb(59, 4, 75);
    color: #fff;
    width: 4rem;
    height: 2rem;
    margin: 0 1px 0 8px;
    border: none;
    border-radius: .5rem;
    transition: .5s;
}
.contenedor button:hover {
    background-color: rgb(149, 28, 186);
    box-shadow: 0 0 1px 1px rgb(149, 28, 186);
    cursor: pointer;
   /*  transform: scale(1.05); */
}
.contenedorBtn1{
    margin: 0 10rem 0 2rem;
}
.contenedorBtn2{
    margin: 0 2rem 0 10rem;
}
