.contenedor{
    display: flex;
    width: 600px;
    height: 300px;
    margin-top: 12%;
    margin-left: 30%;
    border-radius: 10rem 1rem 1rem 10rem;
    
    
    border: 1px solid rgb(7, 4, 103);
    box-shadow: 5px 7px 9px rgb(18, 1, 38);
    transition: .3s;
}
.contenedor:hover{
    cursor: pointer;
    transform: scale(1.03);


    
}


.imagenCard{    
    border: 2px solid black;
   border-radius: 50%;
    width: 50%;
   
}


.detailCard{
   /*  margin: 1.5rem 0 0 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eeecf2;
    font-size: 1.3em;
} 
